


  <div class="flex-container" >
    <% @products.each do |product| %>
    <%= link_to product do %>
    <div class="flex-item">
      <%= image_tag(product.photo_url, :class => 'imagen_producto') if product.photo? %>
      <h3><%=product.name %></h3>
      <p>$<%= product.price%></p>
    </div>
    <% end %>
    <% end %>
  </div>
