

<div class="flex-container">
  <% @products.each do |product| %>
  <div class="flex-item">
    <%= image_tag(product.avatar_url, :class => 'imagen_producto') if product.avatar? %>
    <h3><%=product.name %></h3>
    <p>Precio: <%= product.price%></p>

    <button type="button" name="button">Comprar</button>
  </div>
  <% end %>
</div>
