
  <div class="articulo">
    <%= image_tag "sueter.png", height: "90%", width: "100%" %>
  </div>
<div class="articulo">

  </div>
  <div class="articulo">

  </div>
  <div class="articulo">

  </div>
  <div class="articulo">

  </div>
  <div class="articulo">

  </div>
  <div class="articulo">

  </div>
  <div class="articulo">

  </div>
