<<<<<<< HEAD

<% @products.each do |product| %>

<div class="flex-container">

  <div class="flex-item">
    <%= image_tag(product.avatar_url) if product.avatar? %>
    <h3><%= product.name %></h3>
    <p><%= product.price%></p>

  </div>

</div>

<% end %>
=======
<h1>Pricipal</h1>
>>>>>>> rama1
