<div class="flex-container">
  <div class="flex-item">
    <%= image_tag "sueter.png", height: "80%", width: "100%" %>
    <p>Sueter <br>Precio: 60.000</p>

  </div>
<div class="flex-item">

  </div>
  <div class="flex-item">

  </div>
  <div class="flex-item">

  </div>
</div>

  <div class="flex-container">


  <div class="flex-item">
    <%= image_tag "sueter.png", height: "80%", width: "100%" %>
    <p>Sueter</p>
  </div>
  <div class="flex-item">

  </div>
  <div class="flex-item">

  </div>
  <div class="flex-item">

  </div>

</div>
