// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.articulo{
  border: solid 1px green;
  height: 49.6%;
  width: 24.7%;
  background: blue;
}

.flex-container{
  margin-top: 20px;
  border: solid 1px;
}

.flex-item{
  border: solid 1px;
  width: 300px;
  text-align: center;
}
