// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form_products{
    width: 500px;
    margin: auto;
}

.boton_enviar{
  text-align: center;
  margin-top: 30px;
  display: inline-block;
  margin-left: 33.33%;
}

.articulo_producto{
  outline: solid blue 1px;
  height: 100%;
  width: 50%;
  display: float;
  float: left;
}
.articulo_informacion{
  outline: solid 1px yellow;
  height: 100%;
  width: 50%;
  display: float;
  float: right;
}
.imagen_producto_show{
  height: 500px;
  width: 100%;
}
