
<h1>Se crearan los productos</h1>


<table>


  <tr>
    <thead>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Descripcion</th>
    </thead>
  </tr>

  <% @products.each do |product| %>
  <tr>
    <td> </td>
    <td></td>
    <td></td>
    <td><%= link_to "Editar" %></td>
    <td><%= link_to "Eliminar" %></td>
  </tr>
  <% end %>
</table>
